html,
body {
	margin: 0;
	padding: 0;
}

.logo {
	width: 127px;
}


.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 10px;
	border-bottom: 1px solid #C6C6C6;
	margin-bottom: 10px;
}

.avatar-image {
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

.user-info {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;
	padding: 0 10px;
}

.username,
.location {
	margin: 0;
}

.post-image {
	width: 100%;
}

.body {
	padding: 10px 10px;
}

.icon {
	width: 23.3px;
	height: 22.13px;
}

.icon:hover{
	cursor: pointer;
	opacity: 0.5;
	/* border-radius: 100%; */
}

.likes {
	font-weight: bold;
}